node_modules
coverage
.DS_Store
dist

dist/
params/
*.bak
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.S
# C extensions
*.so

ui/node_modules
kg/
youtube1/

**/node_modules/
KAG/
graphrag/ragtest

*.ll
.npm
# Distribution / packaging
.Python
env/
build/
build-*/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode
.env
**/neo4j/data/
